.careers {
	font-family: $font-poppins;
	margin-top: $mt;

	.careers__main {
		img {
			width: 100%;
			height: auto;
		}
		.careers__text-area {
			position: relative;
			h2 {
				position: absolute;
				top: 10rem;
				left: 2rem;
				display: flex;
				flex-direction: column;
				font-size: 6.4rem;
				color: var(--white);
				z-index: 1;
				background-color: rgba(0, 0, 0, 0.466);
				border-radius: 2rem;
				padding: 2rem;
			}
		}
	}
	.careers__job-offers {
		h4 {
			font-size: 3.2rem;
			color: var(--text-color);
			margin-bottom: 2rem;
		}
	}
	.careers__send-cv {
		text-align: center;
		color: var(--text-color);
		h4 {
			font-size: 2rem;
		}

		p {
			font-size: 1.6rem;
			padding: 1rem;
		}
	}
}
