.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
	display: flex;
	height: 70vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
.home {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(117, 51, 51);
	font-size: 100px;
}

.services {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(139, 42, 42);
	font-size: 100px;
}

.products {
	background-position: center;
	background-size: fill;
	background-repeat: no-repeat;
	color: rgb(110, 34, 34);
	font-size: 100px;
}

.contact-us {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(168, 35, 35);
	font-size: 100px;
}

.sign-up {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(148, 41, 41);
	font-size: 100px;
}

.marketing {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(105, 52, 52);
	font-size: 100px;
}

.consulting {
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(153, 56, 56);
	font-size: 100px;
}
