/*Variables*/
// colors starts
:root {
	--black: #000;
	--white: #fff;
	--primary-color: #5900ff;
	--secondary-color: #8340ff;
	--text-color: #2f323a;
	--text-color2: #8e8e8e;
	--crimson: crimson;
	--sun-color: #f28c38;
	--moon-color: #575756;
}

.dark-mode {
	--black: #fff;
	--white: #111111;
	--primary-color: #65ff00;
	--secondary-color: #ceff1a;
	--text-color: #f5f5f5;
	--text-color2: #8e8e8e;
}
// colors ends

// fonts
$font-poppins: "Poppins", sans-serif;
$font-luckiest-guy: "Luckiest Guy", cursive;

// margin
$mt: 6rem;
