*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
html {
	font-size: 62.5%;
}

body {
	background-color: var(--white);
}
.home,
.services,
.team,
.about,
.main-technologies,
.careers__send-cv,
.careers__job-offers {
	width: 80%;
	margin: $mt auto 0 auto;
}

h3 {
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 6rem;
	color: var(--primary-color);
}
