.services {
	font-family: $font-poppins;

	p {
		text-align: center;
		font-size: 1.6rem;
		color: var(--text-color2);
	}
}

@media screen and (max-width: 576px) {
	.services {
		p {
			font-size: 1.4rem;
		}
	}
}
