.footer {
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	font-family: $font-poppins;
	margin-top: 20rem;
	background-color: var(--footer-color);
	padding-top: 4rem;

	.footer__top {
		display: flex;
		justify-content: space-around;
	}

	.footer__line {
		height: 0.2rem;
		width: 100%;
		background-color: var(--text-color2);
		position: absolute;
		bottom: 7rem;
	}
	.footer__copyright {
		text-align: center;
		font-size: 1.2rem;
		color: var(--text-color2);
		padding-bottom: 0.5rem;
	}
}

@media screen and (max-width: 992px) {
	.footer__top {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 576px) {
	.footer__line {
		display: none;
	}
}
