.navbar__dropdown-menu {
	width: 20rem;
	position: absolute;
	top: 4rem;
	list-style: none;
	text-align: start;
	@include box-shadow;

	li {
		cursor: pointer;
	}

	&.clicked {
		display: none;
	}
}

.dropdown-link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: var(--text-color);
	padding: 1.6rem;

	&:hover {
		color: var(--primary-color);
	}
}

@media screen and (max-width: 960px) {
	.fa-caret-down {
		display: none;
	}
}
