.navbar {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
	font-family: $font-poppins;
	position: relative;
	margin-top: 2rem;
	// border: 1px solid red;

	&__logo {
		color: var(--text-color);
		justify-self: start;
		margin-left: 10rem;
		cursor: pointer;
		text-decoration: none;
		font-size: 2rem;
		@include flex;

		img {
			height: 2.5rem;
		}
	}

	&__nav-menu {
		display: grid;
		grid-template-columns: repeat(7, auto);
		list-style: none;
		text-align: center;
		font-weight: bold;
	}

	&__nav-item {
		display: flex;
		align-items: center;
		height: 4rem;
	}

	&__nav-links {
		text-decoration: none;
		padding: 0.5rem 1rem;
		color: var(--text-color);
	}

	&__nav-links:hover {
		color: var(--primary-color);
		border-radius: 0.4rem;
		transition: all 0.2s ease-out;
	}

	&__nav-links__mobile {
		display: none;
	}

	&__menu-icon {
		display: none;
	}
}

.fa-bars {
	color: var(--black);
	font-size: 2rem;
}

@media screen and (max-width: 992px) {
	.NavbarItems {
		position: relative;
	}

	.navbar {
		&__nav-menu {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 90%;
			position: absolute;
			top: 5rem;
			left: -100%;
			opacity: 1;
			transition: all 0.5s ease;
		}

		&__nav-menu.active {
			background-color: var(--white);
			left: 0;
			opacity: 1;
			transition: all 0.5s ease;
			z-index: 1;
		}

		&__nav-links {
			text-align: center;
			padding: 1rem;
			width: 100%;
			display: table;
		}

		&__nav-links:hover {
			background-color: var(--secondary-color);
			color: var(--white);
			border-radius: 0;
		}

		&__logo {
			position: absolute;
			top: 0.3rem;
			left: 0;
			transform: translate(25%, 50%);
		}

		&__menu-icon {
			display: block;
			position: absolute;
			top: 0.3rem;
			right: 0;
			transform: translate(-100%, 60%);
			font-size: 2rem;
			cursor: pointer;
		}

		&__nav-links__mobile {
			display: block;
			text-align: center;
			padding: 1.5rem;
			margin: 2rem auto;
			border-radius: 4px;
			width: 80%;
			@include bgc;
			text-decoration: none;
			color: var(--white);
			font-size: 2rem;
		}

		&__nav-links__mobile:hover {
			@include bgcHover;
			color: var(--white);
		}
		& button {
			display: none;
		}
	}

	.fa-times {
		color: var(--crimson);
		font-size: 2rem;
	}
}
