.navbar {
	position: sticky;
	top: 0.5rem;

	.navbar__items {
		position: relative;
		background-color: rgba(151, 150, 150, 0.466);
		border-radius: 2rem;
		height: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.6rem;
		font-family: $font-poppins;
		margin-top: 2rem;
		z-index: 100;
		padding-right: 2rem;
	}

	&__logo {
		color: var(--text-color);
		justify-self: start;
		margin-left: 10rem;
		cursor: pointer;
		text-decoration: none;
		font-size: 2rem;
		@include flex;

		img {
			height: 2.7rem;
		}
	}

	&__nav-menu {
		display: grid;
		grid-template-columns: repeat(7, auto);
		list-style: none;
		text-align: center;
		font-weight: bold;
	}

	&__nav-item {
		display: flex;
		align-items: center;
		height: 6rem;
	}

	&__nav-links {
		text-decoration: none;
		padding: 0.5rem 1rem;
		color: var(--text-color);
	}

	&__nav-links:hover {
		color: var(--primary-color);
		border-radius: 0.4rem;
		transition: all 0.2s ease-out;
	}

	&__nav-links__mobile {
		display: none;
	}

	&__menu-icon {
		display: none;
	}
}

.fa-bars {
	color: var(--black);
	font-size: 2rem;
}

@media screen and (max-width: 992px) {
	.NavbarItems {
		position: relative;
	}

	.navbar {
		&__nav-menu {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 80vh;
			position: absolute;
			top: 7rem;
			left: -101%;
			opacity: 1;
			transition: all 0.5s ease;
			@include box-shadow;
		}
		&__light-dark-mode {
			position: absolute;
			top: 2rem;
			left: 1rem;
		}

		&__nav-menu.active {
			background-color: var(--white);
			left: -1%;
			opacity: 1;
			transition: all 0.5s ease;
			z-index: 1;
		}

		&__nav-links {
			text-align: center;
			padding: 1rem;
			width: 100%;
			display: table;
		}

		&__nav-links:hover {
			background-color: var(--secondary-color);
			color: var(--white);
			border-radius: 0;
		}

		&__logo {
			position: absolute;
			width: 100%;
			margin-left: 0;
			display: flex;
			align-items: center;

			img {
				height: 4rem;
			}
		}

		&__menu-icon {
			display: block;
			position: absolute;
			top: 0rem;
			right: 0;
			transform: translate(-100%, 60%);
			font-size: 2rem;
			cursor: pointer;
		}

		&__nav-links__mobile {
			display: block;
			text-align: center;
			padding: 1rem;
			margin: 2rem auto;
			border-radius: 4px;
			width: 20rem;
			@include bgc;
			text-decoration: none;
			color: var(--white);
			font-size: 2rem;
		}

		&__nav-links__mobile:hover {
			@include bgcHover;
			color: var(--white);
		}
		& button {
			display: none;
		}
	}

	.fa-times {
		color: var(--crimson);
		font-size: 2rem;
	}
}
