.accordion {
	width: 100%;
}

.item {
	background-color: #f2f2f2;
	margin-bottom: 5px;
	padding: 1rem 2rem;
	border: 1px solid var(--primary-color);
}

.title {
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-size: 1.6rem;
}

.content {
	color: black;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5;
	font-size: 1.6rem;
}
.content.show {
	height: auto;
	max-height: 999rem;
	transition: all 0.5s;
}

.vacancy__buttons {
	display: flex;
	justify-content: flex-end;
}
