.accordion {
	width: 100%;
}

.item {
	background-color: var(--primary-color);
	margin-bottom: 5px;
	padding: 1rem 2rem;
}

.title {
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.content {
	color: var(--white);
	max-height: 0;
	overflow: hidden;
	transition: all 0.5;
	font-size: 1.6rem;
}
.content.show {
	height: auto;
	max-height: 999rem;
	transition: all 0.5s;
}
