.accordion__vacancy {
	font-family: $font-poppins;
	.vacancy__requirements {
		margin: 3rem 0 3rem 0;

		h5 {
			font-size: 1.6rem;
			margin: 1rem 0 1rem 0;
		}
		p {
			margin: 1rem 0 1rem 0;
		}
	}
}
