.navbar__btn {
	padding: 0.8rem 2rem;
	border-radius: 0.2rem;
	outline: none;
	border: none;
	font-size: 1.8rem;
	color: var(--black);
	background-color: var(--white);
	cursor: pointer;
	border: 0.3rem solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, var(--primary-color), var(--secondary-color));
	margin-right: 10rem;
	font-family: $font-poppins;
	text-transform: uppercase;

	&:hover {
		@include bgcHover;
		color: var(--white);
		transition: all 0.1s ease-out;
	}
}

.navbar__right__side {
	@include flex;

	i {
		margin-right: 1rem;
		font-size: 2rem;
	}
}

.fa-sun {
	color: var(--sun-color);
	cursor: pointer;
}
.fa-moon {
	cursor: pointer;
	color: var(--moon-color);
}
