.navbar__btn {
	padding: 0.8rem 2rem;
	border-radius: 0.4rem;
	outline: none;
	border: none;
	font-size: 1.8rem;
	color: var(--white);
	cursor: pointer;
	@include bgc;
	margin-right: 10rem;
	font-family: $font-poppins;
	text-transform: uppercase;

	&:hover {
		@include bgcHover;
		transition: all 1s ease-out;
	}
}

.navbar__right__side {
	@include flex;

	i {
		margin-right: 1rem;
		font-size: 2rem;
	}
}
