.navbar__btn {
	padding: 0.8rem 2rem;
	border-radius: 0.4rem;
	outline: none;
	border: none;
	font-size: 1.8rem;
	color: var(--white);
	cursor: pointer;
	@include bgc;
	margin-right: 10rem;

	&:hover {
		@include bgcHover;
		transition: all 1s ease-out;
	}
}
